#====================================================================
# Add-On / Include
#====================================================================



[include shell_command.cfg]
[include mainsail.cfg]
[include KAMP_Settings.cfg]
[include K-ShakeTune/*.cfg]
[include Base/*.cfg]
[include Calibration/*.cfg]
[include Capteurs/*.cfg]
[include Macros/*.cfg]
[include Print/*.cfg]
[include Steppers/*.cfg]

#[include InputShaper.cfg]

#====================================================================
# Configuration de base
#====================================================================

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_31FFD4054242363132622357-if00

#====================================================================

[exclude_object]

#====================================================================

[static_digital_output usb_pullup_enable]
pins: !PC13

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5, EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PB6, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB7, EXP1_10=<5V>
    
#====================================================================
# Display
#====================================================================

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

#====================================================================
# Variable
#====================================================================

[gcode_macro _CLIENT_VARIABLE]

variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 210.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 20   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 3.0   ; the value to retract while CANCEL_PRINT

variable_speed_retract    : 10.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 10.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 150.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : True  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : True  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : True ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 3600     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.853
#*# pid_ki = 0.665
#*# pid_kd = 133.621
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.136
#*# pid_ki = 1.311
#*# pid_kd = 1020.243
#*#
#*# [bltouch]
#*# z_offset = 1.960
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.177500, 0.187500, 0.145000, 0.095000, 0.080000, 0.105000, 0.140000, 0.180000
#*# 	  0.140000, 0.152500, 0.115000, 0.062500, 0.052500, 0.087500, 0.127500, 0.177500
#*# 	  0.085000, 0.120000, 0.080000, 0.025000, 0.027500, 0.065000, 0.112500, 0.160000
#*# 	  0.057500, 0.095000, 0.057500, 0.010000, 0.005000, 0.055000, 0.092500, 0.152500
#*# 	  0.040000, 0.082500, 0.055000, 0.017500, 0.007500, 0.047500, 0.092500, 0.142500
#*# 	  0.042500, 0.085000, 0.052500, 0.022500, 0.012500, 0.055000, 0.105000, 0.145000
#*# 	  0.067500, 0.112500, 0.082500, 0.050000, 0.045000, 0.080000, 0.107500, 0.147500
#*# 	  0.187500, 0.227500, 0.212500, 0.162500, 0.150000, 0.170000, 0.192500, 0.235000
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 9.0
#*# max_x = 205.0
#*# min_y = 11.0
#*# max_y = 215.96
