#====================================================================
# Add-On / Include
#====================================================================

[include mainsail.cfg]

[exclude_object]

[include KAMP_Settings.cfg]

[include K-ShakeTune/*.cfg]

#[include InputShaper.cfg]

#====================================================================
# Ender 3 / Dual Z / Skr Mini E3 1.2
#====================================================================

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 248
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PB15
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -20
position_max: 213
position_min: -20
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC6
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -3.0
position_max: 250

[tmc2209 stepper_z]
uart_pin: PC10
run_current: 1.160
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA8

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_31FFD4054242363132622357-if00

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1900
max_z_velocity: 5
max_z_accel: 100

[static_digital_output usb_pullup_enable]
pins: !PC13

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5, EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PB6, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB7, EXP1_10=<5V>

[safe_z_home]
home_xy_position: 154, 112.5
speed: 150
z_hop: 10
z_hop_speed: 20

#====================================================================
# Extruder Biqu H2 V2s
#====================================================================

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 3.4334763
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250

#PolyTerra PLA (Black Mat : "0.0125") | (Silk Gold : "0.02")
pressure_advance: 0.0125
pressure_advance_smooth_time: 0.04

max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: PC11
run_current: 0.800
stealthchop_threshold: 999999

#====================================================================
# Firmware Retraction
#====================================================================

[firmware_retraction]
retract_length: 0.65
#    La longueur du filament (en mm) à rétracter lorsque G10 est activé, et à fournir
#    lorsque G11 est activé (voir unretract_extra_length ci-dessous).
#    La valeur par défaut est 0 mm.
retract_speed: 8
#    La vitesse de rétraction, en mm/s. La valeur par défaut est 20 mm/s.
#unretract_extra_length: 0
#    Longueur (en mm) de filament *supplémentaire* à ajouter lors de la dé-rétraction.
#unretract_speed: 8
#    La vitesse de dé-rétraction, en mm/s. La valeur par défaut est 10 mm/s.


#====================================================================
# Display
#====================================================================

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

#====================================================================
# Calibration
#====================================================================

[screws_tilt_adjust]
screw1: 70,27
screw1_name: Front left screw
screw2: 70,207
screw2_name: Rear left screw
screw3: 240,27
screw3_name: Front right screw
screw4: 240,207
screw4_name: Rear right screw
horizontal_move_z: 10
speed: 250
screw_thread: CW-M3

#====================================================================
# Input Shaping
#====================================================================

[input_shaper]
shaper_freq_x: 48.6     # center frequency for the X axis filter
shaper_type_x: 3hump_ei # filter type for the X axis
shaper_freq_y: 29.4     # center frequency for the Y axis filter
shaper_type_y: mzv      # filter type for the Y axis
damping_ratio_x: 0.244  # damping ratio for the X axis
damping_ratio_y: 0.072  # damping ratio for the Y axis

#====================================================================
# Bltouch
#====================================================================

[bltouch]
sensor_pin: ^PC2
control_pin: PA1
pin_move_time: 0.4
stow_on_each_sample: False
probe_with_touch_mode: true
pin_up_touch_mode_reports_triggered: true
x_offset: -42
y_offset: 3
#z_offset: 0
speed: 10
lift_speed: 20
samples: 1
sample_retract_dist:5
samples_tolerance_retries: 3

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 9,11
mesh_max: 205,216
probe_count: 8,8
algorithm: bicubic

#====================================================================
# Macros
#====================================================================

[gcode_macro Bed_Mesh]
gcode:
    G28
    
    BED_MESH_CALIBRATE
    BED_MESH_OUTPUT

[gcode_macro Screw_Tilt_Calculate]
description: Screws Tilt Calculate
gcode:
    SCREWS_TILT_CALCULATE
    
[gcode_macro Z_Offset]
description: Probe Z-Offset
gcode:
    G28
    PROBE_CALIBRATE

[gcode_macro _CLIENT_VARIABLE]

variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 210.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 20   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 3.0   ; the value to retract while CANCEL_PRINT

variable_speed_retract    : 10.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 10.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 150.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : True  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : True  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : True ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 3600     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

[gcode_macro MECHANICAL_GANTRY_CALIBRATION_GCode]
description: Level Z-Axis
gcode:
    G28
    G0 X154 F5000; Adjust X to have your nozzle in the middle after G28
    G0 Z235 F600; Raise Z Axis
    G0 Z245 F100; Level Z Axis
    G0 Z20 F400; Lower Z Axis
    G28; Re Home all axes

[gcode_macro Clean_Nozzle]
description: Clean Nozzle
gcode:
    M109 S200
    G28
    #M109 S200
    G0 X154 F5000; Adjust X to have your nozzle in the middle after G28
    G0 Z40 F600; Raise Z Axis
    G0 Y0 F5000; Adjust Y Axis

[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh $0"
timeout: 90.0
verbose: True

#====================================================================
# START/END Print
#====================================================================

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Heat bed for probing
    M190 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Home the printer
    G28
    # If you are generating a new bed mesh:
    BED_MESH_CALIBRATE
    # Move the nozzle near the bed
    #G1 Z5 F3000
    #KAMP Smart Park
    Smart_Park
    # Set and wait for nozzle to reach printing temperature
    M109 S{EXTRUDER_TEMP}
    # Start printing!
    
    # KAMP Line Purge
    LINE_PURGE
    
    # KAMP Voron Purge
    #VORON_PURGE

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 200mm
    G1 Z20 F3000
    # Use absolute coordinates
    G90
    # Move Heat Bed to the front for easy print removal
    G1 X0 Y210 F1000
    # Disable steppers
    M84

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.853
#*# pid_ki = 0.665
#*# pid_kd = 133.621
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.136
#*# pid_ki = 1.311
#*# pid_kd = 1020.243
#*#
#*# [bltouch]
#*# z_offset = 1.960
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.177500, 0.187500, 0.145000, 0.095000, 0.080000, 0.105000, 0.140000, 0.180000
#*# 	  0.140000, 0.152500, 0.115000, 0.062500, 0.052500, 0.087500, 0.127500, 0.177500
#*# 	  0.085000, 0.120000, 0.080000, 0.025000, 0.027500, 0.065000, 0.112500, 0.160000
#*# 	  0.057500, 0.095000, 0.057500, 0.010000, 0.005000, 0.055000, 0.092500, 0.152500
#*# 	  0.040000, 0.082500, 0.055000, 0.017500, 0.007500, 0.047500, 0.092500, 0.142500
#*# 	  0.042500, 0.085000, 0.052500, 0.022500, 0.012500, 0.055000, 0.105000, 0.145000
#*# 	  0.067500, 0.112500, 0.082500, 0.050000, 0.045000, 0.080000, 0.107500, 0.147500
#*# 	  0.187500, 0.227500, 0.212500, 0.162500, 0.150000, 0.170000, 0.192500, 0.235000
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 9.0
#*# max_x = 205.0
#*# min_y = 11.0
#*# max_y = 215.96
