#======================================================
# LOAD FILAMENT
#======================================================

[gcode_macro Load_Filament]
gcode:
    SAVE_GCODE_STATE NAME=loading_filament
    M117 Loading Filament
    M83
    G92 E0.0
    G1 E5 F200  # Load filament and prime 5mm 
    G92 E20
    RESTORE_GCODE_STATE NAME=loading_filament

#======================================================
# UNLOAD FILAMENT
#======================================================

[gcode_macro Unload_Filament]
gcode:
    SAVE_GCODE_STATE NAME=unloading_filament
    M125 # park
    M117 Unloading Filament 
    G91 # set relative
    G1 E10 F100 
    G92 E0.0
    G1 E-5 F3000 # Unload filament 5mm 
    G92 E-5
    RESTORE_GCODE_STATE NAME=unloading_filament

#======================================================
# FILAMENT CHANGE
#======================================================

[gcode_macro Filament_Change]
gcode:
    # Save the G-code state
    SAVE_GCODE_STATE NAME=filament_change

    # Move the extruder to the side
    G1 X5 Y225 F4000
    
    # Unload the filament
    {% if printer.extruder.can_reverse %} 
        G91
        G1 E-10 F100
        G92 E0
        G90
    {% else %}
        M117 Extruder cannot reverse
    {% endif %}
    
    # Wait for user interaction to confirm new roll of filament
    M117 Please insert new filament and confirm
    
    # Prime the nozzle with new filament
    G91
    G1 E10 F100
    G92 E0
    G1 E5 F200
    G90

    # Restore the G-code state
    RESTORE_GCODE_STATE NAME=filament_change